<form method="post" action="{{ path('app_position_delete', {'id': position.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ position.id) }}">
    <button class="btn">Delete</button>
</form>
